svg{
    position: absolute;
    left: 0;
    border: 1px solid;
}

.area {
    fill: steelblue;
}

#hist0 {
    fill: rgba(255, 0, 0, 0.25);
}
#hist1 {
    fill: rgba(0, 255, 0, 0.25);
}
#hist2 { 
    fill: rgba(0, 0, 255, 0.25);
}

rect {
    fill: none;
    pointer-events: all;
}

circle, .line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

circle {
    fill: #fff;
    fill-opacity: .2;
    cursor: move;
}

.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}